<div>Change Password</div>
<br><br>

<div class="container">
    <form action="/change-password" method="POST">
        {{% .csrfField %}}
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Current Password:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="form-group row">
            <label for="new_password" class="col-sm-2 col-form-label">New Password:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="new_password">
            </div>
        </div>
        <div class="form-group row">
            <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="confirm_password"><br>
            </div>
        </div>
        <div class="form-group row">
            <input type="submit" value="Change Password">
        </div>
    </form>
</div>

{{% if .m.Err %}}
<div style="color: red;">{{% .m.SErr %}}</div>
{{% end %}} {{% if not .m.Err %}}
<div style="color: green;">{{% .m.SErr %}}</div>
{{% end %}}

<br><br>
<a href="/">index</a>