<?xml version="1.0" encoding="utf-8"?>
<config>
    <general>
        <port>8080</port>
        <use-https>false</use-https>
        <timezone>Europe/Bucharest</timezone>
    </general>
    <database>
        <db-type>postgres</db-type>
        <db-url>host=localhost port=5432 user=geo password=geo dbname=devel sslmode=disable options='--application_name=GoWebsiteExample --search_path=wmeter,public --client_encoding=UTF8'</db-url>
    </database>
    <password-rules change-interval="30" 
        password-fail-interval="10"
        max-allowed-failed-atmpts="3"
        not-repeat-last-x-passwords="5"
        min-characters="8"
        min-letters="2"
        min-capitals="1"
        min-digits="1"
        min-non-alpha-numerics="1"
        allow-repetitive-characters="false"
        can-contain-username="false" />
</config>
